<details class="py-2" {{ open }}>
    <summary class="text-gray-900 cursor-pointer">
        {{ item.settings.title }}
    </summary> 
    <div class="ProseMirror text-gray-600 mt-2 p-2 md:p-4 border">
        {{ item.settings.content }}
    </div>
</details>