<div class="relative max-w-6xl mx-auto px-4">
    <div class="relative w-full flex flex-col {{ thumb_class }} max-h-[640px] items-center justify-center">
      {% if page.parent %}
        {% assign video_type = page.parent.settings.video_type.value %}
      {% else %}
        {% assign video_type = "0" %}
      {% endif %}
      {% if page.settings.video_url %}
        {% render 'play_local_video', page: page %}
      {% elsif page.settings.youtube_id != blank %}
        {% render 'play_video', page: page %}
      {% else %}
        <p class="text-gray-500">无视频</p>
      {% endif %}
    </div>

    <article class="p-4 md:py-8 ProseMirror max-w-full overflow-x-auto">
      {{ page.settings.content }}
    </article>

</div>