<div class="relative max-w-6xl mx-auto px-4">
    <div class="relative w-full flex flex-col {{ thumb_class }} max-h-[640px] items-center justify-center">
      {% render 'play_video', page: page %}
    </div>

    <article class="p-4 md:py-8 ProseMirror max-w-full overflow-x-auto">
      {{ page.settings.content }}
    </article>

</div>