{% comment %} 只有一条记录的情况下，直接展开显示内容 {% endcomment %}
{% assign page_count = page.pages_in_list | size %}
{% if page_count < 3 %}
    {% for item in pages  %}
        {% if item.template_name == 'faqs' %}
            {% for item2 in item.children_in_list %}
                {% render 'content_faq', open: 'open', item: item2 %}
            {% endfor %}
        {% else %}
            {% render 'content_faq', open: 'open', item: item %}
        {% endif %}
    {% endfor %}
{% else %}
    {% paginate_tag pages, per: 24 %}
        {% for item in pages  %}
            {% if item.template_name == 'faqs' %}

                {% for item2 in item.children_in_list %}
                    {% render 'content_faq', item: item2 %}
                {% endfor %}
            {% else %}
                {% render 'content_faq', item: item %}
            {% endif %}
        {% endfor %}
        <!-- Pagination -->
        <div class="w-full text-right block mt-12">
            {% render 'paginate', paginate: paginate %}
        </div>
    {% endpaginate_tag %}
{% endif %}