{% for item in pages %}
    {% if item.template_name == 'videos' %}
        
        <div class="grid grid-cols-1 gap-4 md:gap-8 sm:grid-cols-3 mt-4">
            {% for item2 in item.children_in_list %}
                <!-- Card product -->
                {% if item2.template_name == 'video' %}
                    <article class="flex flex-col border rounded-xl my-4">
                        <div class="relative w-full flex flex-col items-center justify-center">
                            {% render 'play_video', page: item2 %}
                        </div>
                        <div class="w-full px-2">
                            <div class="group relative">
                                <h3 class="mt-2 line-clamp-2 text-md leading-6 group-hover:text-gray-600">
                                    {{ item2.settings.title }}
                                </h3>
                            </div>
                            <div class="text-sm text-gray-600 my-2">
                                {{ item.settings.description }}
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="w-72">
            {% if item.template_name == 'video' %}
                <div class="">
                    <article class="flex flex-col border rounded-xl">
                        <div class="relative w-full flex flex-col items-center justify-center">
                            {% render 'play_video', page: item %}
                        </div>
                        <div class="w-full px-2">
                            <div class="group relative">
                                <h3 class="mt-2 line-clamp-2 text-md leading-6 group-hover:text-gray-600">
                                    {{ item.settings.title }}
                                </h3>
                            </div>
                            <div class="text-sm text-gray-600 my-2">
                                {{ item.settings.description }}
                            </div>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}