<details class="py-2">
    <summary class="font-semibold text-gray-600 cursor-pointer">
        {{ item.settings.title }}
    </summary> 
    <div class="ProseMirror text-gray-500 mt-2 pl-4 break-pre">
        {{ item.settings.content }}
    </div>
</details>