<footer class="bg-primary border-t border-gray-900/10 text-white">
  <div class="mx-auto max-w-6xl px-4 pb-8 pt-6">
    <div class="grid grid-cols-2 md:grid-cols-5">
      <div class="">
        <p class="text-xl font-bold mb-2 md:mb-4">
          Shop
        </p>

        <div id="Footer-3cd18e68-c39b-446c-8d3e-426a5a38feb1" class="collapsible-content collapsible-content--small">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <ul class="no-bullets site-footer__linklist">
                <li><a href="https://www.iscooterglobal.co.uk//collections/electric-scooter">Electric Scooters</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//collections/ebike">Electric Bikes</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//collections/walking-pad">Walking Pad</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//collections/off-road-electric-scooter">Off Road Electric
                    Scooters</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//collections/commuter-e-scooters">Commuter Electric
                    Scooters</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//collections/accessories">Accessories</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/compare-electric-scooters">Compare Electric
                    Scooters</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/compare-electric-bikes">Compare Electric Bikes</a>
                </li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/bundle-offer">Bundle Sale</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="">

        <p class="text-xl font-bold mb-2 md:mb-4">
          COMPANY
        </p>


        <div id="Footer-1494301487049" class="collapsible-content collapsible-content--small">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <ul class="no-bullets site-footer__linklist">
                <li><a href="https://www.iscooterglobal.co.uk//pages/about-us">About Us</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/videos">iScooter Reviews</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/ride-now-pay-later">Financing</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/affiliate-program">Affiliate Program</a></li>
                <li><a href="https://iscooterglobaluk.goaffpro.com/login">Refer a Friend</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/become-a-iscooter-dealer">Become a Dealer</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/privacy-policy">Privacy Policy</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/terms-of-conditions">Terms Of Conditions</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//blogs/news">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="">

        <p class="text-xl font-bold mb-2 md:mb-4">
          Support
        </p>

        <div id="Footer-1494292485313" class="collapsible-content collapsible-content--small">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <ul class="no-bullets site-footer__linklist">
                <li><a href="https://www.iscooterglobal.co.uk//pages/contact-us">Contact Us</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/shipping-policy">Ordering &amp; Delivery</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/returns-exchange-policy">Refund &amp; Returns</a>
                </li>
                <li><a href="https://www.iscooterglobal.co.uk/apps/iscooter">Track Your Order</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/payment-methods">Payment Methods</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/warranty">Warranty</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/user-manuals">User Manuals</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/unauthorised-fake-seller-warning">Unauthorised
                    &amp; Fake Seller Warning</a></li>
                <li><a
                    href="https://www.iscooterglobal.co.uk//pages/iscooter-uk-performance-and-usage-report">Performance
                    and Usage Report</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/help-center">Help Center</a></li>
                <li><a href="https://www.iscooterglobal.co.uk//pages/store-locator">Repair Shop</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="">
        <p class="text-xl font-bold mb-2 md:mb-4">NEED HELP? <br />
          CONTACT US!</p>


        <div id="Footer-a35232f6-885f-4b46-990f-ea13ffbc36bf" class="collapsible-content collapsible-content--small">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <p><strong>Email: </strong><a href="mailto:support@iscooterglobal.co.uk" target="_blank"
                  title="mailto:support@iscooterglobal.co.uk" class="js-no-transition">support@iscooterglobal.co.uk</a>
              </p>
              <p><strong>Tel:<br></strong><a href="tel:+44 188 878 5356" target="_blank" title="tel:+44 188 878 5356"
                  class="js-no-transition">+44 188 878 5356 </a>(9AM-6PM)</p>
              <p><a href="tel:+44 808 502 0608 " title="tel:+44 808 502 0608 ">+44 808 502 0608 </a>(9AM-6PM)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="ml-4 space-y-4">

          <div class="footer__logo">
            <a href="https://www.iscooterglobal.co.uk//">
              <img
                src="//www.iscooterglobal.co.uk/cdn/shop/files/iScooter_a6503447-836b-4915-8548-89734b4628e1_x30@2x.png?v=1647930693"
                alt="iScooterGlobal.co.uk">
            </a>
          </div>
          <ul class="flex space-x-2 md:space-x-4">
            <li>
              <a target="_blank" rel="noopener" href="https://www.facebook.com/iScooterEU"
                title="iScooterGlobal.co.uk on Facebook" class="js-no-transition">
                <svg aria-hidden="true" focusable="false" role="presentation"
                  class="w-8 p-1 h-8 text-white bg-white rounded-full icon-facebook" viewBox="0 0 14222 14222">
                  <path
                    d="M14222 7112c0 3549.352-2600.418 6491.344-6000 7024.72V9168h1657l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4968.72C2600.418 13603.344 0 10661.352 0 7112 0 3184.703 3183.703 1 7111 1s7111 3183.703 7111 7111zm-8222 7025c362 57 733 86 1111 86-377.945 0-749.003-29.485-1111-86.28zm2222 0v-.28a7107.458 7107.458 0 0 1-167.717 24.267A7407.158 7407.158 0 0 0 8222 14137zm-167.717 23.987C7745.664 14201.89 7430.797 14223 7111 14223c319.843 0 634.675-21.479 943.283-62.013z">
                  </path>
                </svg>
                <span class="hidden">Facebook</span>
              </a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.instagram.com/iscooter.eu/"
                title="iScooterGlobal.co.uk on Instagram" class="js-no-transition">
                <svg aria-hidden="true" focusable="false" role="presentation"
                  class="w-8 p-1 h-8 text-white bg-white rounded-full icon-instagram" viewBox="0 0 32 32">
                  <path fill="#444"
                    d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z">
                  </path>
                  <path fill="#444"
                    d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z">
                  </path>
                </svg>
                <span class="hidden">Instagram</span>
              </a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.tiktok.com/@iscooter_shop"
                title="iScooterGlobal.co.uk on TikTok" class="js-no-transition">
                <svg aria-hidden="true" focusable="false" role="presentation"
                  class="w-8 p-1 h-8 text-white bg-white rounded-full icon-tiktok" viewBox="0 0 2859 3333">
                  <path
                    d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z">
                  </path>
                </svg>
                <span class="hidden">TikTok</span>
              </a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.youtube.com/@iScooter"
                title="iScooterGlobal.co.uk on YouTube" class="js-no-transition">
                <svg aria-hidden="true" focusable="false" role="presentation"
                  class="w-8 p-1 h-8 text-white bg-white rounded-full icon-youtube" viewBox="0 0 21 20">
                  <path fill="#444"
                    d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z">
                  </path>
                </svg>
                <span class="hidden">YouTube</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="mt-4 md:mt-8 space-y-4">
    
      <ul class="flex justify-center space-x-3">
        <li class="icon--payment">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-american_express" viewBox="0 0 38 24"
            width="38" height="24">
            <title id="pi-american_express">American Express</title>
            <path fill="#000" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z"
              opacity=".07"></path>
            <path fill="#006FCF" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z">
            </path>
            <path fill="#FFF"
              d="M22.012 19.936v-8.421L37 11.528v2.326l-1.732 1.852L37 17.573v2.375h-2.766l-1.47-1.622-1.46 1.628-9.292-.02Z">
            </path>
            <path fill="#006FCF"
              d="M23.013 19.012v-6.57h5.572v1.513h-3.768v1.028h3.678v1.488h-3.678v1.01h3.768v1.531h-5.572Z"></path>
            <path fill="#006FCF"
              d="m28.557 19.012 3.083-3.289-3.083-3.282h2.386l1.884 2.083 1.89-2.082H37v.051l-3.017 3.23L37 18.92v.093h-2.307l-1.917-2.103-1.898 2.104h-2.321Z">
            </path>
            <path fill="#FFF" d="M22.71 4.04h3.614l1.269 2.881V4.04h4.46l.77 2.159.771-2.159H37v8.421H19l3.71-8.421Z">
            </path>
            <path fill="#006FCF"
              d="m23.395 4.955-2.916 6.566h2l.55-1.315h2.98l.55 1.315h2.05l-2.904-6.566h-2.31Zm.25 3.777.875-2.09.873 2.09h-1.748Z">
            </path>
            <path fill="#006FCF"
              d="M28.581 11.52V4.953l2.811.01L32.84 9l1.456-4.046H37v6.565l-1.74.016v-4.51l-1.644 4.494h-1.59L30.35 7.01v4.51h-1.768Z">
            </path>
          </svg>

        </li>
        <li class="icon--payment">
          <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
            aria-labelledby="pi-diners_club">
            <title id="pi-diners_club">Diners Club</title>
            <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
            </path>
            <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
            <path
              d="M12 12v3.7c0 .3-.2.3-.5.2-1.9-.8-3-3.3-2.3-5.4.4-1.1 1.2-2 2.3-2.4.4-.2.5-.1.5.2V12zm2 0V8.3c0-.3 0-.3.3-.2 2.1.8 3.2 3.3 2.4 5.4-.4 1.1-1.2 2-2.3 2.4-.4.2-.4.1-.4-.2V12zm7.2-7H13c3.8 0 6.8 3.1 6.8 7s-3 7-6.8 7h8.2c3.8 0 6.8-3.1 6.8-7s-3-7-6.8-7z"
              fill="#3086C8"></path>
          </svg>
        </li>
        <li class="icon--payment">
          <svg viewBox="0 0 38 24" width="38" height="24" role="img" aria-labelledby="pi-discover" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <title id="pi-discover">Discover</title>
            <path fill="#000" opacity=".07"
              d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path>
            <path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32z" fill="#fff"></path>
            <path
              d="M3.57 7.16H2v5.5h1.57c.83 0 1.43-.2 1.96-.63.63-.52 1-1.3 1-2.11-.01-1.63-1.22-2.76-2.96-2.76zm1.26 4.14c-.34.3-.77.44-1.47.44h-.29V8.1h.29c.69 0 1.11.12 1.47.44.37.33.59.84.59 1.37 0 .53-.22 1.06-.59 1.39zm2.19-4.14h1.07v5.5H7.02v-5.5zm3.69 2.11c-.64-.24-.83-.4-.83-.69 0-.35.34-.61.8-.61.32 0 .59.13.86.45l.56-.73c-.46-.4-1.01-.61-1.62-.61-.97 0-1.72.68-1.72 1.58 0 .76.35 1.15 1.35 1.51.42.15.63.25.74.31.21.14.32.34.32.57 0 .45-.35.78-.83.78-.51 0-.92-.26-1.17-.73l-.69.67c.49.73 1.09 1.05 1.9 1.05 1.11 0 1.9-.74 1.9-1.81.02-.89-.35-1.29-1.57-1.74zm1.92.65c0 1.62 1.27 2.87 2.9 2.87.46 0 .86-.09 1.34-.32v-1.26c-.43.43-.81.6-1.29.6-1.08 0-1.85-.78-1.85-1.9 0-1.06.79-1.89 1.8-1.89.51 0 .9.18 1.34.62V7.38c-.47-.24-.86-.34-1.32-.34-1.61 0-2.92 1.28-2.92 2.88zm12.76.94l-1.47-3.7h-1.17l2.33 5.64h.58l2.37-5.64h-1.16l-1.48 3.7zm3.13 1.8h3.04v-.93h-1.97v-1.48h1.9v-.93h-1.9V8.1h1.97v-.94h-3.04v5.5zm7.29-3.87c0-1.03-.71-1.62-1.95-1.62h-1.59v5.5h1.07v-2.21h.14l1.48 2.21h1.32l-1.73-2.32c.81-.17 1.26-.72 1.26-1.56zm-2.16.91h-.31V8.03h.33c.67 0 1.03.28 1.03.82 0 .55-.36.85-1.05.85z"
              fill="#231F20"></path>
            <path d="M20.16 12.86a2.931 2.931 0 100-5.862 2.931 2.931 0 000 5.862z" fill="url(#pi-paint0_linear)">
            </path>
            <path opacity=".65" d="M20.16 12.86a2.931 2.931 0 100-5.862 2.931 2.931 0 000 5.862z"
              fill="url(#pi-paint1_linear)"></path>
            <path
              d="M36.57 7.506c0-.1-.07-.15-.18-.15h-.16v.48h.12v-.19l.14.19h.14l-.16-.2c.06-.01.1-.06.1-.13zm-.2.07h-.02v-.13h.02c.06 0 .09.02.09.06 0 .05-.03.07-.09.07z"
              fill="#231F20"></path>
            <path
              d="M36.41 7.176c-.23 0-.42.19-.42.42 0 .23.19.42.42.42.23 0 .42-.19.42-.42 0-.23-.19-.42-.42-.42zm0 .77c-.18 0-.34-.15-.34-.35 0-.19.15-.35.34-.35.18 0 .33.16.33.35 0 .19-.15.35-.33.35z"
              fill="#231F20"></path>
            <path d="M37 12.984S27.09 19.873 8.976 23h26.023a2 2 0 002-1.984l.024-3.02L37 12.985z" fill="#F48120">
            </path>
            <defs>
              <linearGradient id="pi-paint0_linear" x1="21.657" y1="12.275" x2="19.632" y2="9.104"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F89F20"></stop>
                <stop offset=".25" stop-color="#F79A20"></stop>
                <stop offset=".533" stop-color="#F68D20"></stop>
                <stop offset=".62" stop-color="#F58720"></stop>
                <stop offset=".723" stop-color="#F48120"></stop>
                <stop offset="1" stop-color="#F37521"></stop>
              </linearGradient>
              <linearGradient id="pi-paint1_linear" x1="21.338" y1="12.232" x2="18.378" y2="6.446"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F58720"></stop>
                <stop offset=".359" stop-color="#E16F27"></stop>
                <stop offset=".703" stop-color="#D4602C"></stop>
                <stop offset=".982" stop-color="#D05B2E"></stop>
              </linearGradient>
            </defs>
          </svg>
        </li>
        <li class="icon--payment">
          <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img"
            aria-labelledby="pi-maestro">
            <title id="pi-maestro">Maestro</title>
            <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
            </path>
            <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
            <circle fill="#EB001B" cx="15" cy="12" r="7"></circle>
            <circle fill="#00A2E5" cx="23" cy="12" r="7"></circle>
            <path fill="#7375CF" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z">
            </path>
          </svg>
        </li>
        <li class="icon--payment">
          <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
            aria-labelledby="pi-master">
            <title id="pi-master">Mastercard</title>
            <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
            </path>
            <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
            <circle fill="#EB001B" cx="15" cy="12" r="7"></circle>
            <circle fill="#F79E1B" cx="23" cy="12" r="7"></circle>
            <path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z">
            </path>
          </svg>
        </li>
        <li class="icon--payment">
          <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img"
            aria-labelledby="pi-paypal">
            <title id="pi-paypal">PayPal</title>
            <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
            </path>
            <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
            <path fill="#003087"
              d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z">
            </path>
            <path fill="#3086C8"
              d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z">
            </path>
            <path fill="#012169"
              d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z">
            </path>
          </svg>
        </li>
        <li class="icon--payment">
          <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
            aria-labelledby="pi-visa">
            <title id="pi-visa">Visa</title>
            <path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
            </path>
            <path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path>
            <path
              d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z"
              fill="#142688"></path>
          </svg>
        </li><!-- <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
              </li>
              <li class="icon--payment">
                <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
              </li>
              <li class="icon--payment">
                <svg t="1731057225220" viewBox="0 0 1621 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5687" width="38" height="38"><path d="M1493.333333 0H128C55.466667 0 0 55.466667 0 128v768c0 72.533333 59.733333 128 128 128h1365.333333c72.533333 0 128-55.466667 128-128V128c0-72.533333-59.733333-128-128-128z" opacity=".07" p-id="5688"></path><path d="M1493.333333 42.666667c46.933333 0 85.333333 38.4 85.333334 85.333333v768c0 46.933333-38.4 85.333333-85.333334 85.333333H128c-46.933333 0-85.333333-38.4-85.333333-85.333333V128c0-46.933333 38.4-85.333333 85.333333-85.333333h1365.333333" fill="#FFFFFF" p-id="5689"></path><path d="M640 512m-298.666667 0a298.666667 298.666667 0 1 0 597.333334 0 298.666667 298.666667 0 1 0-597.333334 0Z" fill="#EB001B" p-id="5690"></path><path d="M981.333333 512m-298.666666 0a298.666667 298.666667 0 1 0 597.333333 0 298.666667 298.666667 0 1 0-597.333333 0Z" fill="#00A2E5" p-id="5691"></path><path d="M938.666667 512c0-102.4-51.2-192-128-243.2-76.8 55.466667-128 145.066667-128 243.2s51.2 192 128 243.2c76.8-51.2 128-140.8 128-243.2z" fill="#7375CF" p-id="5692"></path></svg>
              </li>
              <li class="icon--payment">
                <svg t="1731056453475" viewBox="0 0 1397 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6834" width="38" height="24"><path d="M1389.030064 924.390064a92.619252 92.619252 0 0 1-93.654104 91.5844H101.674207a92.619252 92.619252 0 0 1-93.654104-91.5844V99.354327A92.619252 92.619252 0 0 1 101.674207 8.02864h1193.701753a92.619252 92.619252 0 0 1 93.654104 91.325687z" fill="#FFFFFF" p-id="6835"></path><path d="M101.415494 1023.994567A100.639355 100.639355 0 0 1 0 924.648777V99.354327A100.380642 100.380642 0 0 1 101.415494 0.008538h1193.960466A100.380642 100.380642 0 0 1 1397.050167 99.354327v825.29445a100.639355 100.639355 0 0 1-101.674207 99.34579zM15.781493 99.354327v825.29445A84.857862 84.857862 0 0 0 101.415494 1008.989213h1193.960466a84.340436 84.340436 0 0 0 85.634001-83.305584V99.354327A84.599149 84.599149 0 0 0 1295.37596 15.79003H101.415494A84.857862 84.857862 0 0 0 15.781493 99.354327" fill="#0069AA" p-id="6836"></path><path d="M134.78947 617.815167c0-22.50803-11.642085-20.955752-23.025457-21.214466v-6.467825h73.215778c64.936961 0 100.380642 43.463783 100.380641 87.962418 0 25.871299-14.487928 87.444992-103.485197 87.444992H111.764013v-6.467825c15.005354-1.552278 22.249317-2.069704 23.025457-19.144761z m25.871299 117.973125c0 19.403475 13.970502 21.731891 25.8713 21.731891 54.329729 0 71.922212-41.135366 71.922212-77.613898a75.544194 75.544194 0 0 0-77.613898-80.977167h-19.662188zM294.156674 759.072461h4.915547c6.985251 0 11.900798 0 11.900798-8.278815v-68.300231c0-10.865946-3.621982-12.418224-12.93565-17.592483v-3.880695c11.900798-3.621982 25.871299-8.278816 25.871299-9.054955a8.278816 8.278816 0 0 1 4.398121-1.293565s1.810991 1.552278 1.810991 3.621982V750.27622c0 8.278816 5.691686 8.278816 12.676937 8.278815h4.139408v6.467825h-53.294877z m25.871299-147.207693a12.418224 12.418224 0 0 1 0-24.577735 12.159511 12.159511 0 0 1 12.418224 12.159511 12.418224 12.418224 0 0 1-12.418224 12.418224M372.029285 684.045693c0-9.313668-2.845843-11.900798-14.746641-16.557631v-4.656834c10.865946-3.621982 21.214465-6.985251 33.373977-12.159511 0 0 1.293565 0 1.293565 2.328417v16.557632a73.733203 73.733203 0 0 1 43.722496-18.886049c21.214465 0 28.717142 15.52278 28.717142 35.184967V750.27622c0 8.278816 5.691686 8.278816 12.676937 8.278815h4.39812v6.467825h-51.742598v-6.467825h4.656834c6.985251 0 11.900798 0 11.900797-8.278815v-64.678249c0-14.487928-8.537529-21.473178-23.025456-21.473178a68.558943 68.558943 0 0 0-29.234568 12.15951V750.27622c0 8.278816 5.691686 8.278816 12.676936 8.278815h4.398121v6.467825h-51.742599v-6.467825h4.398121c6.985251 0 12.159511 0 12.159511-8.278815zM500.609643 696.205204a60.797554 60.797554 0 0 0 0 14.487928 42.170218 42.170218 0 0 0 36.995958 43.463782 48.37933 48.37933 0 0 0 33.891402-16.816344l3.621982 3.621982a59.245276 59.245276 0 0 1-46.568339 28.458429 51.742599 51.742599 0 0 1-48.120616-54.847155c0-49.414182 33.373976-63.902109 51.742598-63.902109a39.841801 39.841801 0 0 1 42.428931 39.324375 28.199716 28.199716 0 0 1 0 4.656834l-2.328417 1.552278z m44.498635-8.020103c6.209112 0 6.985251-3.363269 6.985251-6.467825a21.214465 21.214465 0 0 0-21.731892-23.025456c-15.264067 0-25.871299 11.383372-28.975855 29.493281zM579.517106 759.072461h6.985251c6.985251 0 11.900798 0 11.900798-8.537528v-70.628648c0-7.76139-9.313668-9.054955-12.93565-11.124658v-3.880695c18.368623-7.76139 28.199716-14.229215 30.528133-14.229215s2.328417 0 2.328417 3.104556v22.766743c6.209112-9.831094 16.816345-25.871299 32.080411-25.871299a13.711789 13.711789 0 0 1 14.487928 13.194363 12.159511 12.159511 0 0 1-11.900798 12.935649c-7.76139 0-7.76139-5.950399-16.557631-5.950399a20.955752 20.955752 0 0 0-18.368623 20.69704V750.27622c0 8.537529 4.915547 8.537529 12.159511 8.537528h13.970502v6.467825h-65.195675zM676.275766 730.614032a33.115263 33.115263 0 0 0 31.821698 30.528133 17.851197 17.851197 0 0 0 20.438327-17.851196c0-29.493281-54.847155-19.920901-54.847155-60.538841a34.408828 34.408828 0 0 1 38.806949-32.080411 68.041517 68.041517 0 0 1 28.717142 7.243964l1.810991 25.871299h-5.691686a25.871299 25.871299 0 0 0-27.423577-25.871299 17.592484 17.592484 0 0 0-19.662188 16.557631c0 29.493281 58.210424 20.438327 58.210424 59.762702 0 16.557632-13.194363 34.408828-43.20507 34.408828a66.747952 66.747952 0 0 1-30.528133-8.537529L672.653784 731.907597zM975.6067 635.666363h-6.209112A48.120617 48.120617 0 0 0 915.585285 595.048423a71.922212 71.922212 0 0 0-71.146073 79.683602 82.012019 82.012019 0 0 0 75.026768 87.444992 51.742599 51.742599 0 0 0 51.742599-43.722496l5.950399 1.552278-5.950399 36.737245a140.481156 140.481156 0 0 1-55.364581 13.453076 89.514696 89.514696 0 0 1-96.241234-94.688956 92.619252 92.619252 0 0 1 95.465095-88.479844 177.477114 177.477114 0 0 1 59.245276 13.453076zM984.661654 759.072461h4.656834c7.243964 0 12.159511 0 12.159511-8.537528V610.571203c0-16.298919-3.880695-16.816345-13.453076-19.403475v-4.139408a170.23315 170.23315 0 0 0 25.8713-10.865945 21.731891 21.731891 0 0 1 5.432973-2.845843c1.552278 0 2.069704 1.552278 2.069704 3.621982V750.27622c0 8.537529 5.432973 8.537529 12.418223 8.537528h4.398121v6.467825h-53.294877zM1146.098563 751.569785c0 4.656834 2.58713 4.915547 6.98525 4.915546H1164.208472v5.17426a245.001205 245.001205 0 0 0-36.219819 8.020103h-1.293565v-20.438326a68.558943 68.558943 0 0 1-44.498635 21.214465 27.164864 27.164864 0 0 1-27.68229-30.010707v-65.454388c0-6.467825 0-12.676937-15.005354-13.970501v-4.915547l32.339124-1.810991c2.845843 0 2.845843 1.810991 2.845843 7.502677v64.678248c0 7.502677 0 29.234568 21.731892 29.234568a56.399433 56.399433 0 0 0 30.528133-15.264066V672.662321c0-4.915547-12.159511-7.76139-21.214465-10.089806v-4.656834c22.766743-1.552278 36.737245-3.621982 39.324375-3.621982s2.069704 1.810991 2.069704 4.656834zM1196.03017 668.781627a63.384683 63.384683 0 0 1 37.513384-18.10991 48.896756 48.896756 0 0 1 46.827052 51.742599 63.902109 63.902109 0 0 1-60.280127 65.971813 77.613898 77.613898 0 0 1-34.926254-8.796242l-7.502677 5.691686-5.17426-2.845843a316.923417 316.923417 0 0 0 3.363269-44.757348V610.571203c0-16.298919-3.621982-16.816345-13.194363-19.403475v-4.139408a155.227796 155.227796 0 0 0 25.8713-10.865945 21.473178 21.473178 0 0 1 5.432972-2.58713c1.552278 0 2.069704 0 2.069704 3.363269z m0 68.30023a25.871299 25.871299 0 0 0 25.8713 25.871299c25.871299 0 38.289523-25.871299 38.289523-48.638043a48.120617 48.120617 0 0 0-40.359227-49.931607 39.065662 39.065662 0 0 0-23.801596 11.900797zM111.5053 911.713128h1.810991c4.915547 0 10.089807 0 10.089807-7.76139v-71.663499c0-7.243964-5.17426-7.76139-10.089807-7.76139h-1.810991v-4.139408H153.158092v4.139408h-1.810991c-4.915547 0-10.34852 0-10.348519 7.76139v71.663499c0 6.985251 5.432973 7.76139 10.348519 7.76139h1.810991v4.139408H111.5053z" fill="#231F20" p-id="6837"></path><path d="M153.158092 916.369962H111.5053v-5.17426h2.58713c4.915547 0 9.572381 0 9.572381-7.243964v-71.663499c0-6.726538-4.656834-7.243964-9.572381-7.243964h-2.58713v-5.17426H153.158092v5.17426h-1.810991c-5.17426 0-9.572381 0-9.57238 7.243964v71.663499c0 6.726538 4.398121 6.985251 9.57238 7.243964h2.328417v5.17426z m0 0v-3.104556h-1.810991c-4.915547 0-10.865946 0-10.865945-8.278816v-72.698351c0-7.502677 5.950399-8.537529 10.865945-8.537529h1.293565v-2.845843H112.022726v2.845843c4.915547 0 10.865946 0 10.865946 8.537529v71.663499c0 7.502677-5.950399 8.278816-10.865946 8.278816v3.104556H152.640666M247.070909 888.946384v-51.742599a11.124659 11.124659 0 0 0-11.900798-12.676936H232.841694v-4.139408H268.802801v4.139408h-2.328417c-5.691686 0-12.159511 0-12.159511 17.33377v62.091119a81.23588 81.23588 0 0 0 0 13.970502h-5.17426l-70.628647-77.613899v56.399433c0 11.900798 2.328417 16.040206 12.935649 16.040206h2.328417v4.139408h-36.219819v-4.139408h1.810991c9.572381 0 12.418224-6.467825 12.418224-17.333771v-58.727849a12.159511 12.159511 0 0 0-12.418224-12.159511h-1.034852v-4.139408H186.273356z" fill="#231F20" p-id="6838"></path><path d="M255.091012 918.439666h-5.691686L181.099096 840.825767v54.847155c0 11.900798 1.810991 15.264067 12.15951 15.52278h3.104556v5.17426h-36.219819v-5.17426h2.58713c8.796242 0 11.383372-5.950399 11.642085-16.816345v-57.692997a11.642085 11.642085 0 0 0-11.900798-11.642085H157.814926v-5.17426h28.45843l60.021414 67.782804v-51.742598c0-10.865946-7.243964-12.159511-11.383372-12.159511H232.841694v-5.17426H268.802801v5.17426h-2.58713c-5.691686 0-11.383372 0-11.642085 16.816344v62.091119a112.022726 112.022726 0 0 0 0 13.711789z m-5.17426 0h4.398121a106.072327 106.072327 0 0 1 0-13.194363v-62.091119c0-16.557632 6.726538-18.10991 12.676937-18.109909v-2.845843H232.324268v2.845843h3.104556a12.159511 12.159511 0 0 1 12.676937 13.453075v51.742599L186.273356 820.904867H158.849778v2.845843h1.293565a12.676937 12.676937 0 0 1 12.93565 12.93565v57.692997c0 10.865946-2.845843 17.851197-12.676937 17.851197h-1.552278v3.104556H194.034745v-3.104556h-1.810991c-10.607233 0-13.453076-4.656834-13.453075-16.557632v-57.951711z m-2.845843-28.199717z m0 0zM288.982414 827.890118c-10.34852 0-10.607233 2.58713-12.676937 12.418223h-4.139408c0-3.621982 1.293565-7.502677 1.552278-11.642084a81.494593 81.494593 0 0 0 0-11.383372h3.363269c0 3.880695 4.656834 3.880695 8.278816 3.880695h70.628647c3.621982 0 6.985251 0 7.243964-4.398121h3.363269l-1.552278 10.865946v11.124658l-4.139408 1.552278c0-4.915547 0-13.194363-10.089806-13.194362h-22.508031v72.957064c0 10.34852 4.915547 11.642085 11.383372 11.642085h2.58713v4.139408h-45.274774v-4.139408h2.58713c7.502677 0 11.383372 0 11.383372-11.383372V827.890118z" fill="#231F20" p-id="6839"></path><path d="M342.794717 916.369962H297.519943v-5.17426h3.363269c7.502677 0 10.607233 0 10.607233-10.865946V827.890118h-21.731892 23.025457v72.439638c0 10.865946-4.398121 11.900798-11.900798 11.900798h-2.069704v3.104556h44.239922v-3.104556h-2.069704c-6.467825 0-11.900798-1.552278-11.900798-12.159511V827.890118h23.025457c9.313668 0 10.34852 7.76139 10.607232 12.935649h3.104556v-10.865945c0-3.621982 0-6.985251 1.293565-10.607233h-2.069704c0 3.880695-4.398121 4.139408-7.76139 4.139408H284.584293c-3.104556 0-6.726538 0-8.020103-3.880695h-2.069704a80.459741 80.459741 0 0 1 0 11.124659l-1.552278 10.865945h2.845843c1.810991-9.572381 2.845843-12.676937 13.194363-12.418223V827.890118c-10.089807 0-9.831094 1.810991-12.159511 11.900797h-5.432972l1.552277-11.642084a84.081723 84.081723 0 0 0 0-11.383372h4.398121c0 3.363269 3.621982 3.363269 6.985251 3.363269h71.404786c3.621982 0 6.467825 0 6.726538-3.621982h3.880695l-1.552278 11.124659v10.865945l-4.915547 1.810991c0-5.17426 0-12.418224-9.57238-12.418223h-21.731892v72.180925c0 10.089807 4.139408 10.865946 10.607233 11.124659h3.363269v5.17426zM371.770572 911.713128h1.810991c4.915547 0 10.089807 0 10.089807-7.76139v-71.663499c0-7.243964-5.17426-7.76139-10.089807-7.76139h-1.810991v-4.139408h69.076369a188.860485 188.860485 0 0 0 0 20.955752h-4.139407c0-8.796242-2.328417-16.040206-16.557632-16.040205h-19.144762v35.961106h16.298919c8.278816 0 10.089807-4.656834 10.865946-12.159511h4.139408v31.562985h-4.139408c0-8.020103 0-13.453076-10.607233-13.453075h-16.557632v31.821698c0 9.054955 8.020103 9.054955 16.816345 9.054955 16.298919 0 23.542882-1.293565 27.68229-16.816345h3.880695a217.060202 217.060202 0 0 0-4.656834 21.731892h-73.215777z" fill="#231F20" p-id="6840"></path><path d="M444.986349 916.369962h-73.215777v-5.17426h2.328417c4.915547 0 9.572381 0 9.572381-7.243964v-71.663499c0-6.726538-4.656834-7.243964-9.572381-7.243964h-2.328417v-5.432973h69.076369V841.860619l-4.656833 1.293565c0-8.796242-2.069704-15.264067-16.040206-15.522779h-18.627336v33.891402h15.781493c7.76139 0 9.313668-4.139408 10.089807-11.383372h5.17426v31.562985h-4.656834c0-8.537529 0-12.93565-10.089807-13.194362h-15.781493v31.304272c0 8.278816 7.243964 8.278816 16.298919 8.278816 16.298919 0 23.025456 0 27.164864-16.040206h4.398121q-2.845843 10.865946-4.656834 21.731892z m0 0a201.278709 201.278709 0 0 1 4.398121-20.955753h-2.845843c-3.880695 15.264067-11.900798 16.557632-27.941003 16.557632-8.796242 0-17.333771 0-17.333771-9.572381v-33.891402h16.816345c9.572381 0 10.607233 5.691686 11.383372 13.453075h2.845843v-15.005353-15.52278h-2.845843c0 7.243964-3.104556 12.159511-11.383372 12.159511h-16.816345v-37.772097h19.662188c14.229215 0 16.557632 7.243964 17.075058 15.781492h2.845842v-19.9209h-67.782804v2.845843c4.915547 0 10.865946 0 10.865946 8.537529v71.663499c0 7.502677-5.950399 8.278816-10.865946 8.278816v3.104556h72.180925M468.011806 834.875369c0-10.089807-5.432973-10.34852-9.572381-10.34852h-2.58713v-4.139408h43.20507c17.333771 0 32.597837 4.656834 32.597837 24.060308a25.871299 25.871299 0 0 1-19.144761 24.060309l23.542882 34.926254a14.746641 14.746641 0 0 0 13.194363 8.278816v4.139408h-26.130013a368.924729 368.924729 0 0 1-28.458429-44.239922h-9.054955v29.234568c0 10.34852 4.915547 10.865946 11.124659 10.865946h2.58713v4.139408H455.852295v-4.139408h2.58713c4.915547 0 9.572381-2.328417 9.572381-7.243964z m17.592483 31.562985H491.554688c13.711789 0 20.955752-5.17426 20.955753-21.214466a18.627336 18.627336 0 0 0-19.920901-19.9209 46.568339 46.568339 0 0 0-7.76139 0z" fill="#231F20" p-id="6841"></path><path d="M549.247686 916.369962H522.600247a365.820173 365.820173 0 0 1-28.458429-43.981209h-8.020103v28.717142c0 10.089807 4.398121 10.089807 10.607233 10.34852h3.104556v5.17426h-43.20507v-5.17426h2.845843c4.915547 0 9.313668-2.328417 9.313668-6.726538v-69.852508c0-9.831094-4.915547-9.572381-9.313668-9.831094h-4.139408v-5.17426h43.20507c17.333771 0 33.115263 4.656834 33.115263 24.577734a25.871299 25.871299 0 0 1-18.627335 24.319022l23.025456 34.408828a14.746641 14.746641 0 0 0 12.676937 8.020103v5.17426z m-63.643397-45.533487h9.313668a462.32012 462.32012 0 0 0 28.199716 44.239922h25.612587v-3.104556a15.781493 15.781493 0 0 1-13.194363-8.278816l-23.801595-35.702393a25.871299 25.871299 0 0 0 18.886048-23.542883c0-19.144762-15.005354-23.542882-32.080411-23.542882h-42.687644v2.845843h1.810991c4.398121 0 10.34852 0 10.34852 11.124659V905.504016c0 5.432973-5.17426 7.76139-10.34852 7.76139h-1.810991v3.104556h42.170218v-3.104556h-1.293565c-6.209112 0-11.900798 0-11.900798-11.383372v-31.045559z m0-3.621982V825.302988a53.036164 53.036164 0 0 1 8.020103 0 19.144762 19.144762 0 0 1 20.438327 20.438326c0 16.298919-7.76139 21.990604-21.473179 21.990605z m6.726538-1.293565c13.453076 0 20.179614-4.656834 20.438327-20.69704a18.10991 18.10991 0 0 0-19.403475-19.403474 41.394079 41.394079 0 0 0-7.243964 0v39.583088zM642.125651 888.946384v-51.742599a11.124659 11.124659 0 0 0-11.900798-12.676936h-3.104556v-4.139408h36.219819v4.139408h-2.069704c-5.950399 0-12.159511 0-12.159511 17.33377v62.091119a81.23588 81.23588 0 0 0 0 13.970502h-5.174259l-70.628648-77.613899v56.399433c0 11.900798 2.328417 16.040206 12.93565 16.040206h2.328417v4.139408h-36.219819v-4.139408h1.810991c9.572381 0 12.418224-6.467825 12.418223-17.333771v-58.727849a12.159511 12.159511 0 0 0-12.418223-12.159511h-1.810991v-4.139408h27.941003z" fill="#231F20" p-id="6842"></path><path d="M650.145753 918.439666h-5.691685l-69.335083-77.613899v54.847155c0 11.900798 1.810991 15.264067 12.159511 15.52278h2.845843v5.17426h-36.219819v-5.17426h2.328417c9.054955 0 11.642085-5.950399 11.900797-16.816345v-57.692997a11.900798 11.900798 0 0 0-11.900797-11.642085h-2.328417v-5.17426H582.104236l60.280128 67.782804v-51.742598a10.607233 10.607233 0 0 0-11.383372-12.159511h-3.621982v-5.17426H663.340116v5.17426h-2.58713c-5.691686 0-11.642085 0-11.642085 16.816344v62.091119a77.613898 77.613898 0 0 0 0 13.711789z m-5.174259 0h4.39812a103.485198 103.485198 0 0 1 0-13.194363v-62.091119c0-16.557632 6.985251-17.851197 12.93565-18.109909h1.293565v-2.845843H628.931288v2.845843h2.328417a12.159511 12.159511 0 0 1 12.418224 13.453075v51.742599l-60.797554-68.817656h-27.423577v2.845843h1.293565a12.93565 12.93565 0 0 1 12.935649 12.935649v57.692998c0 10.865946-3.104556 17.851197-12.935649 17.851197h-1.293565v3.104556H590.641765v-3.104556h-3.363269c-10.865946 0-13.453076-4.656834-13.453076-16.557632v-58.469137z m-2.845843-28.199717z m0 0zM685.589434 896.190348a47.344478 47.344478 0 0 0-3.104556 10.607233c0 4.139408 5.691686 4.915547 10.348519 4.915547v4.139408h-31.304272v-4.139408a12.676937 12.676937 0 0 0 11.900798-8.796242l25.09516-62.867258a107.365892 107.365892 0 0 0 5.17426-17.075057 62.608545 62.608545 0 0 0 12.418224-5.691686h2.069704a17.851197 17.851197 0 0 0 1.293565 3.363269l25.871299 71.663499c1.552278 4.656834 3.363269 9.831094 4.915547 13.970502a8.796242 8.796242 0 0 0 9.054955 5.432973v4.139408h-39.324375v-4.139408h1.552278c3.104556 0 8.537529 0 8.537529-3.880695a43.463783 43.463783 0 0 0-2.845843-9.831094l-5.17426-16.040206h-31.04556z m19.9209-60.53884l-12.676937 38.806949h25.8713z" fill="#231F20" p-id="6843"></path><path d="M758.287785 916.369962h-39.324375v-5.17426h2.069704c3.104556 0 7.76139 0 7.76139-3.363269a31.821698 31.821698 0 0 0-2.58713-9.831094l-5.17426-15.264067h-30.786847l-4.139407 13.711789a47.344478 47.344478 0 0 0-3.104556 10.607233c0 3.104556 5.17426 4.139408 9.831093 4.139408h2.069704v5.17426H663.857542v-5.17426h1.552278a11.642085 11.642085 0 0 0 11.124659-8.537529l21.990604-62.867258a169.715724 169.715724 0 0 0 5.432973-17.33377 62.608545 62.608545 0 0 0 12.418224-5.691686h1.293565a2.845843 2.845843 0 0 1 1.552278 0 20.179614 20.179614 0 0 0 1.293565 3.621982l25.871299 71.404786c1.552278 4.915547 3.363269 9.831094 4.915547 13.970502a8.278816 8.278816 0 0 0 8.537529 5.17426h1.552278v5.17426z m-38.806949-1.293565h38.289523v-2.845843a9.313668 9.313668 0 0 1-9.572381-5.691686c-1.810991-4.139408-3.363269-9.313668-4.915547-13.970502l-25.871299-71.663499v-3.363269h-1.293565a53.55359 53.55359 0 0 1-12.159511 5.432973 107.365892 107.365892 0 0 1-5.17426 17.075057l-21.731891 62.608545a13.194363 13.194363 0 0 1-12.418224 9.313668v2.845843h30.010707v-2.845843c-4.656834 0-10.865946 0-10.865945-5.17426a51.742599 51.742599 0 0 1 2.845843-10.865946l4.656833-14.746641h31.821699l5.432973 16.298919a41.135366 41.135366 0 0 1 2.845842 10.089807c0 4.139408-5.950399 4.398121-9.054954 4.398121z m-27.941004-40.100514l13.194363-39.841801 13.194363 39.841801z m1.810991 0h23.801596l-11.900798-36.478533z m11.642085-37.772098zM764.496897 827.890118c-10.34852 0-10.865946 2.58713-12.676937 12.418223h-4.139408q0-5.432973 1.552278-11.642084a81.494593 81.494593 0 0 0 0-11.383372h3.363269c0 3.880695 4.398121 3.880695 8.278816 3.880695h70.369934c3.880695 0 7.243964 0 7.502677-4.398121h3.363269l-1.552278 10.865946v11.124658l-4.139408 1.552278c0-4.915547 0-13.194363-10.089807-13.194362h-22.50803v72.957064c0 10.34852 4.915547 11.642085 11.383371 11.642085h2.58713v4.139408h-45.533486v-4.139408H776.138981c7.502677 0 11.124659 0 11.124659-11.383372V827.890118z" fill="#231F20" p-id="6844"></path><path d="M818.309199 916.369962h-45.533486v-5.17426H776.138981c7.76139 0 10.607233 0 10.865946-10.865946V827.890118h-21.731891 23.025456v72.439638c0 10.865946-4.398121 11.900798-12.159511 11.900798h-2.58713v3.104556h44.239922v-3.104556h-2.069704c-6.726538 0-11.900798-1.552278-11.900797-12.159511V827.890118H827.88158c9.054955 0 10.34852 7.76139 10.607233 12.935649h2.845843v-10.865945-10.607233h-2.069704c0 3.880695-4.398121 4.139408-8.020103 4.139408h-70.369934c-3.363269 0-6.726538 0-8.020103-3.880695H750.267682a80.459741 80.459741 0 0 1 0 8.278816c0 3.621982 0 7.243964-1.552278 10.865945H750.267682c1.810991-9.572381 2.845843-12.676937 13.194363-12.418223V827.890118c-10.089807 0-10.089807 1.810991-12.159511 11.900797h-5.17426c0-3.880695 1.293565-7.76139 1.810991-11.642084a84.081723 84.081723 0 0 0 0-11.383372h4.398121c0 3.363269 3.363269 3.363269 6.985251 3.363269h71.146073c3.880695 0 6.726538 0 6.985251-3.621982h3.880695l-1.552278 11.124659v10.865945l-4.656834 1.810991c0-5.17426 0-12.418224-9.572381-12.418223h-21.990604v72.180925c0 10.089807 4.398121 10.865946 10.865946 11.124659h3.104555v5.17426zM847.802481 911.713128h2.069704c4.915547 0 10.089807 0 10.089806-7.76139v-71.663499c0-7.243964-5.17426-7.76139-10.089806-7.76139h-2.069704v-4.139408H889.455273v4.139408h-1.810991c-4.915547 0-10.089807 0-10.089807 7.76139v71.663499c0 6.985251 5.17426 7.76139 10.089807 7.76139h1.810991v4.139408H847.802481z" fill="#231F20" p-id="6845"></path><path d="M889.455273 916.369962H847.802481v-5.17426h2.58713c4.915547 0 9.313668 0 9.313667-7.243964v-71.663499c0-6.726538-4.398121-7.243964-9.313667-7.243964h-2.58713v-5.432973H889.455273v5.432973h-2.58713c-4.915547 0-9.572381 0-9.572381 7.243964v71.663499c0 6.726538 4.656834 6.985251 9.572381 7.243964h2.58713v5.17426z m0 0v-3.104556c-4.915547 0-10.607233 0-10.607233-8.278816v-72.698351c0-7.502677 5.691686-8.537529 10.607233-8.537529v-2.845843h-40.61794v2.845843h1.552278c4.656834 0 10.607233 0 10.607232 8.537529v71.663499c0 7.502677-5.950399 8.278816-10.607232 8.278816h-1.552278v3.104556h40.61794M944.043714 818.317737a48.120617 48.120617 0 0 1 51.742599 47.085765 50.190321 50.190321 0 0 1-51.742599 51.742599 48.37933 48.37933 0 0 1-51.742598-49.155469 49.672895 49.672895 0 0 1 51.742598-50.449034m2.069704 93.654104c25.871299 0 31.304272-23.542882 31.304273-43.463783s-10.865946-44.239922-33.63269-44.239922-31.045559 21.473178-31.045559 39.583088c0 25.871299 11.383372 48.120617 33.373976 48.120617" fill="#231F20" p-id="6846"></path><path d="M893.077255 868.766771a50.190321 50.190321 0 0 1 51.742598-51.742599 49.414182 49.414182 0 0 0-49.931607 49.931608 47.861904 47.861904 0 0 0 51.742598 48.37933 49.672895 49.672895 0 0 0 51.742599-51.742599 47.603191 47.603191 0 0 0-51.742599-46.568339 48.37933 48.37933 0 0 1 51.742599 47.603191 51.742599 51.742599 0 0 1-51.742599 51.742599 48.896756 48.896756 0 0 1-51.742598-49.672895m19.144761-4.915547c0-18.368623 7.243964-40.100514 31.562985-40.100514s34.150115 24.577734 34.150116 44.757348-4.656834 43.981209-31.821699 43.981209v-1.293565c25.871299 0 30.528133-22.766743 30.528134-42.687644s-10.607233-43.463783-32.856551-43.722496-30.26942 20.955752-30.26942 39.065662c0 25.871299 11.124659 47.344478 32.597837 47.344478v1.293565c-22.50803 0-33.891402-23.801595-33.891402-48.638043" fill="#231F20" p-id="6847"></path><path d="M1088.664278 888.946384v-51.742599a11.124659 11.124659 0 0 0-11.900798-12.676936h-2.845843v-4.139408H1109.878743v4.139408h-2.069704c-5.691686 0-12.159511 0-12.15951 17.33377v62.091119a81.23588 81.23588 0 0 0 0 13.970502h-5.17426l-70.628647-77.613899v56.399433c0 11.900798 2.328417 16.040206 12.935649 16.040206h2.328417v4.139408h-36.219819v-4.139408h1.810991c9.572381 0 12.418224-6.467825 12.418224-17.333771v-58.727849a12.159511 12.159511 0 0 0-12.418224-12.159511h-1.810991v-4.139408h27.941003z" fill="#231F20" p-id="6848"></path><path d="M1096.684381 918.439666h-5.691686l-69.335082-77.613899v54.847155c0 11.900798 1.810991 15.264067 12.15951 15.52278h2.845843v5.17426h-36.219819v-5.17426h2.328417c9.054955 0 11.642085-5.950399 11.900798-16.816345v-57.692997a11.642085 11.642085 0 0 0-11.900798-11.642085h-2.328417v-5.17426h28.458429l60.021415 67.782804v-51.742598c0-10.865946-7.243964-12.159511-11.383372-12.159511h-3.621982v-5.17426H1109.878743v5.17426h-2.587129c-5.691686 0-11.642085 0-11.642085 16.816344v62.091119a77.613898 77.613898 0 0 0 0 13.711789z m-5.17426 0h4.398121a103.485198 103.485198 0 0 1 0-13.194363v-62.091119c0-16.557632 6.985251-17.851197 12.935649-18.109909h1.293565v-2.845843H1075.469915v2.845843h2.328417a12.159511 12.159511 0 0 1 12.418224 13.453075v51.742599l-60.797554-68.817656h-27.423577v2.845843a12.93565 12.93565 0 0 1 12.93565 12.935649v57.692998c0 10.865946-3.104556 17.851197-12.93565 17.851197v3.104556H1037.180392v-3.104556H1034.851975c-10.865946 0-13.453076-4.656834-13.453075-16.557632v-58.469137z m-2.845843-28.199717z m0 0zM1132.128061 896.190348a47.344478 47.344478 0 0 0-3.104556 10.607233c0 4.139408 5.691686 4.915547 10.34852 4.915547h1.552278v4.139408h-31.304273v-4.139408a12.676937 12.676937 0 0 0 11.900798-8.796242l21.731892-62.867258a107.365892 107.365892 0 0 0 5.17426-17.075057 62.608545 62.608545 0 0 0 12.418223-5.691686H1164.208472a17.851197 17.851197 0 0 0 1.293565 3.363269l25.871299 71.663499c1.552278 4.656834 3.363269 9.831094 4.915547 13.970502a8.796242 8.796242 0 0 0 9.054955 5.432973v4.139408h-39.583088v-4.139408h1.552278c3.104556 0 8.537529 0 8.537529-3.880695a43.463783 43.463783 0 0 0-2.845843-9.831094l-5.17426-16.040206h-31.045559z m19.9209-60.53884L1138.337173 874.458457h25.871299z" fill="#231F20" p-id="6849"></path><path d="M1204.826412 916.369962h-39.324375v-5.17426h2.069704c3.104556 0 8.020103 0 8.020103-3.363269a47.344478 47.344478 0 0 0-2.845843-9.831094l-5.17426-15.264067h-30.786846l-4.139408 13.711789a67.265378 67.265378 0 0 0-3.104556 10.607233c0 3.104556 5.17426 4.139408 9.831094 4.139408h2.069704v5.17426h-31.04556v-5.17426h1.552278a11.642085 11.642085 0 0 0 11.124659-8.537529l21.990605-62.867258a169.715724 169.715724 0 0 0 5.432972-17.33377 82.012019 82.012019 0 0 0 12.418224-5.691686 2.328417 2.328417 0 0 1 1.552278 0v3.621982l25.8713 71.404786a144.361851 144.361851 0 0 0 5.174259 13.970502 7.76139 7.76139 0 0 0 8.278816 5.17426h1.552278v5.17426z m-38.806949 0h38.289523v-2.845843a9.572381 9.572381 0 0 1-9.572381-5.691686c-1.810991-4.139408-3.363269-9.313668-4.915546-13.970502l-25.8713-71.663499v-3.104556h-1.293565a53.55359 53.55359 0 0 1-12.159511 5.432973 107.365892 107.365892 0 0 1-5.174259 17.075057l-22.508031 61.31498a13.194363 13.194363 0 0 1-12.418224 9.313668v2.845843h30.010708v-2.845843c-4.656834 0-10.865946 0-10.865946-5.17426a42.170218 42.170218 0 0 1 3.104556-10.865946l4.398121-14.746641h31.821698l5.432973 16.298919a41.135366 41.135366 0 0 1 2.845843 10.089807c0 4.139408-5.950399 4.398121-9.054955 4.398121zM1138.337173 874.975883l13.194362-39.841801 12.93565 39.841801z m1.810991 0H1164.208472l-11.900798-36.478533z m11.642084-37.772098zM1239.493953 902.39946c0 5.432973 3.880695 7.243964 8.020103 7.76139a142.292147 142.292147 0 0 0 18.10991 0 20.179614 20.179614 0 0 0 13.194362-7.502677 32.080411 32.080411 0 0 0 4.139408-9.831094h4.139408c-1.552278 7.76139-3.621982 15.52278-5.17426 23.28417h-72.180925v-4.139408h1.810991c4.915547 0 10.34852 0 10.34852-9.054955v-70.628647c0-7.243964-5.432973-7.76139-10.34852-7.76139h-1.810991v-4.139408H1252.17089v4.139408h-3.363269c-5.17426 0-9.313668 0-9.313668 7.243964z" fill="#231F20" p-id="6850"></path><path d="M1281.922884 916.369962h-72.180925v-5.17426h2.328417c4.915547 0 9.831094 0 9.831094-8.537529v-70.369934c0-6.726538-4.656834-7.243964-9.831094-7.243964h-2.328417v-5.432973H1252.17089v5.432973h-3.880695c-5.432973 0-8.796242 0-8.796242 6.726538v70.628647c0 5.17426 3.363269 6.467825 7.76139 6.985251h7.502677a71.146073 71.146073 0 0 0 10.34852 0 19.144762 19.144762 0 0 0 12.676936-6.985251 32.080411 32.080411 0 0 0 4.139408-9.831094h5.17426c-1.552278 8.020103-3.363269 15.52278-5.17426 23.28417z m0 0c1.552278-7.502677 3.363269-14.746641 4.915547-22.249318h-2.845843a28.458429 28.458429 0 0 1-4.139408 9.572381 20.69704 20.69704 0 0 1-13.711788 7.76139h-18.10991c-4.398121 0-8.796242-2.328417-8.796242-8.278816v-71.404786c0-7.502677 4.915547-8.020103 10.089807-8.020103h2.845843v-2.845843h-41.394079v2.845843c4.915547 0 10.865946 0 10.865946 8.537529v70.369934c0 8.796242-5.950399 9.572381-10.865946 9.572381v3.104556h71.146073M1285.286153 816.506746a14.487928 14.487928 0 1 1 0 28.717142 14.487928 14.487928 0 0 1 0-28.717142m0 25.871299a11.642085 11.642085 0 0 0 11.383372-11.642084 11.383372 11.383372 0 1 0-22.766743 0 11.642085 11.642085 0 0 0 11.383371 11.642084m-6.985251-4.139408c1.552278 0 2.069704 0 2.069704-1.293564v-10.607233c0-1.552278 0-2.069704-2.069704-1.810991h7.243964c2.58713 0 4.915547 0 4.915547 3.880695a4.139408 4.139408 0 0 1-3.363269 4.139408l2.328417 3.363269a13.453076 13.453076 0 0 0 3.104556 3.363268h-2.58713c-1.552278 0-2.58713-2.845843-5.17426-6.726537h-1.810991v4.915546h2.069704z m4.656834-7.502676h1.810991c1.810991 0 2.58713-1.552278 2.58713-3.880695a2.845843 2.845843 0 0 0-2.58713-3.104556h-1.810991z" fill="#231F20" p-id="6851"></path><path d="M431.015848 336.335429a232.841694 232.841694 0 1 1 232.841694 232.841695 231.548129 231.548129 0 0 1-231.548129-232.841695" fill="#FFFFFF" p-id="6852"></path><path d="M802.010281 332.713448a139.446304 139.446304 0 0 0-89.514696-129.356497v259.489132a139.96373 139.96373 0 0 0 89.514696-129.356496m-189.119199 129.356496v-258.712993a139.187591 139.187591 0 0 0 0 260.006558m50.707747-351.073532a219.647332 219.647332 0 1 0 219.647332 219.647332 219.906045 219.906045 0 0 0-219.647332-219.647332m0 460.250416A240.603084 240.603084 0 0 1 420.926041 336.335429a236.722389 236.722389 0 0 1 241.896649-243.190214H724.396383a245.259918 245.259918 0 0 1 251.727743 243.190214c0 130.908775-119.784116 238.015954-250.951604 238.015955z" fill="#0069AA" p-id="6853"></path></svg>
              </li>
              <li class="icon--payment">
                <svg t="1721629555833" class="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4259" width="38" height="38"><path d="M888 789H136c-39.76 0-72-32.24-72-72V307c0-39.76 32.24-72 72-72h752c39.76 0 72 32.24 72 72v410c0 39.76-32.24 72-72 72z" fill="#F7F9FB" p-id="4260"></path><path d="M224.36 462.32c-14.45-2.76-29.1-1.23-43.66-1.42-0.45-0.01-0.9 0.48-1.17 0.64v106.05c12.98-0.12 25.7 0.43 38.4-0.49 26.09-1.9 47.82-23.57 49.23-48.94 1.57-28.37-15.36-50.59-42.8-55.84z m15.13 72.85c-6.93 10.56-20.62 15.99-39.3 13.8v-69.03c14.8-3.51 31.42 2.27 39.21 13.52 8.41 12.13 8.34 29.15 0.09 41.71zM831.9 544.95c-5.38-7.24-10.75-14.5-16.38-22.1 2.05-0.72 3.62-1.24 5.18-1.82 7.38-2.74 12.98-7.48 16.17-14.75 8.67-19.76-1.42-39.58-22.45-44.09-11.77-2.53-23.72-1.02-35.59-1.36-2.5-0.07-5-0.01-7.73-0.01v106.4h20.72v-41.65c3.26-1.26 3.82 1.24 4.83 2.72 8.84 12.99 17.61 26.02 26.35 38.98h25.5c-5.84-7.86-11.23-15.09-16.6-22.32z m-39.96-34.92v-32.21c8.47-0.3 16.92-1.16 23.1 6.22 3.7 4.42 4.04 13.43 0.66 18.46-5.73 8.54-14.62 7.67-23.76 7.53zM698.35 567.25h58.5v-17.48c-12.74-0.7-25.28 0.43-37.86-0.52v-28.44h36.18v-18.22H719.2v-23.52h37.68v-18h-58.53v106.18zM637.08 532.34l-28.17-71.14h-23.14c15.27 36.74 30.3 72.92 45.27 108.97h11.29c15.31-36.26 30.61-72.46 46.1-109.14H665.7c-9.42 23.49-18.78 46.8-28.62 71.31zM360.36 506.81c-3.17-1.57-6.45-2.93-9.74-4.22-4.09-1.6-8.24-3.03-12.11-5.15-3.88-2.13-6.5-4.98-6.08-9.79 0.4-4.67 3.2-7.52 7.24-9.13 7.74-3.1 14.97-2.12 21.5 3.27 1.14 0.94 1.87 2.5 3.92 2.76 3.43-4.31 6.91-8.69 10.36-13.03-11.69-11.87-33-15.73-47.35-8.7-11.18 5.48-17.09 14.59-17.43 27.06-0.33 12.3 6.09 20.22 16.89 25.07 3.62 1.62 7.31 3.06 10.98 4.56 3.67 1.5 7.44 2.79 11.01 4.49 5.78 2.75 8.48 7.38 8.01 13.25-0.5 6.28-3.73 10.57-9.66 12.73-8.14 2.97-18.61 0.07-24.78-6.91-1.59-1.79-2.95-3.78-4.2-5.4-4.22 4.16-8.42 8.3-12.88 12.69 9.71 16.02 28.79 23.49 47.51 18.56 14.85-3.92 23.98-14.72 25.61-30.32 1.6-15.11-3.88-24.42-18.8-31.79zM419.16 542.4c-13.08-11.81-15.9-33.09-6.29-48.26 4.55-7.19 10.78-12.38 19-14.88 13.7-4.17 25.51-0.36 36.03 9.86v-23.77c-20.52-12.57-50.66-7.29-67.71 11.7-18.19 20.27-19.51 49.88-3.16 71.14 16.22 21.09 46.68 27.95 70.71 15.79 0.93-8.15 0.62-20.71-0.55-23.55-17.14 13.3-34.67 14.02-48.03 1.97zM277.15 567.28h20.14V461.01h-20.14v106.27z" p-id="4261"></path><path d="M532 514.47m-56.5 0a56.5 56.5 0 1 0 113 0 56.5 56.5 0 1 0-113 0Z" fill="#F07824" p-id="4262"></path><path d="M847.57 463.57h-3.83v7.91h1.61v-3.31h2.15l2.88 3.31h1.83l-3.07-3.44c1.62-0.27 2.69-1 2.69-2.23 0-1.66-1.79-2.24-4.26-2.24z m-2.21 3.74v-2.89h1.99c1.86 0 2.88 0.36 2.88 1.39 0 1.01-1.02 1.5-2.88 1.5h-1.99z" p-id="4263"></path><path d="M847.97 459.05c-4.67 0-8.47 3.8-8.47 8.48 0 4.67 3.8 8.47 8.47 8.47 4.67 0 8.48-3.8 8.48-8.47 0-4.68-3.8-8.48-8.48-8.48z m0 15.82c-4.05 0-7.34-3.3-7.34-7.34 0-4.05 3.3-7.34 7.34-7.34 4.05 0 7.34 3.29 7.34 7.34 0.01 4.04-3.29 7.34-7.34 7.34z" p-id="4264"></path><path d="M960 558.38c-88.55 75.3-420.84 190.2-618.91 230.62H888c39.76 0 72-32.24 72-72V558.38z" fill="#F07824" p-id="4265"></path></svg>
              </li>
              <li class="icon--payment">
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
              </li> -->
        <!-- <li class="icon--payment">
                <img width="36" hight="22" src="https://cdn.shopify.com/shopifycloud/web/assets/v1/5907def4d13b29fe.svg" alt="apple pay" >
              </li> -->
        <li class="icon--payment">
          <svg xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" viewBox="0 0 38 24"
            aria-labelledby="pi-klarna">
            <title id="pi-klarna">Klarna</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#FFB3C7">
              </path>
              <path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFB3C7">
              </path>
              <path
                d="M34.117 13.184c-.487 0-.882.4-.882.892 0 .493.395.893.882.893.488 0 .883-.4.883-.893a.888.888 0 00-.883-.892zm-2.903-.69c0-.676-.57-1.223-1.274-1.223-.704 0-1.274.547-1.274 1.222 0 .675.57 1.223 1.274 1.223.704 0 1.274-.548 1.274-1.223zm.005-2.376h1.406v4.75h-1.406v-.303a2.446 2.446 0 01-1.394.435c-1.369 0-2.478-1.122-2.478-2.507 0-1.384 1.11-2.506 2.478-2.506.517 0 .996.16 1.394.435v-.304zm-11.253.619v-.619h-1.44v4.75h1.443v-2.217c0-.749.802-1.15 1.359-1.15h.016v-1.382c-.57 0-1.096.247-1.378.618zm-3.586 1.756c0-.675-.57-1.222-1.274-1.222-.703 0-1.274.547-1.274 1.222 0 .675.57 1.223 1.274 1.223.704 0 1.274-.548 1.274-1.223zm.005-2.375h1.406v4.75h-1.406v-.303A2.446 2.446 0 0114.99 15c-1.368 0-2.478-1.122-2.478-2.507 0-1.384 1.11-2.506 2.478-2.506.517 0 .997.16 1.394.435v-.304zm8.463-.128c-.561 0-1.093.177-1.448.663v-.535H22v4.75h1.417v-2.496c0-.722.479-1.076 1.055-1.076.618 0 .973.374.973 1.066v2.507h1.405v-3.021c0-1.106-.87-1.858-2.002-1.858zM10.465 14.87h1.472V8h-1.472v6.868zM4 14.87h1.558V8H4v6.87zM9.45 8a5.497 5.497 0 01-1.593 3.9l2.154 2.97H8.086l-2.341-3.228.604-.458A3.96 3.96 0 007.926 8H9.45z"
                fill="#0A0B09" fill-rule="nonzero"></path>
            </g>
          </svg>
        </li>
      </ul>
      <div class="flex justify-center">
        <span class="text-sm">
          {{ site.settings.company_info }}
        </span>
      </div>
    </div>
  </div>
</footer>