{% assign pages = page.children_in_list | order_by: '-created_at' | limit: 6 %}
<a name="pages"></a>

<section class="">
    <div class="max-w-6xl mx-auto px-4">
        <div class="py-4 md:py-6">
            <!-- Section header -->
            <div class="pb-4 -ml-2">
                <h2 class="text-pretty text-lg font-semibold tracking-tight text-base-content sm:text-xl flex items-center">
                    <i data-lucide="square" class="h-6 w-6 text-primary mr-1"></i>
                    {{ page.settings.title }}</h2>
                <p class="mt-1 pl-2 text-sm text-base-content/60">{{ page.settings.description }}</p>
            </div>

            <!-- Posts -->
            <ul class="list-disc list-inside">
                {% for item in pages %}
                    <li class="md:text-base mb-2">
                        <a class="hover:text-primary" href="{{ item.path }}">{{ item.link_text }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</section>
