{% assign pages = page.children_in_list %}

<section class="py-2">
    <div class="max-w-6xl mx-auto px-4">
        <div class="mb-4">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
        </div>
    </div>
</section>

<!--Section: FAQs -->
<section class="my-6" data-aos-id-3="">
    <div class="relative max-w-6xl mx-auto">
        <div class="">
            <div class="text-center relative mb-4 md:mb-8">
                <h2 class="h2">{{ page.settings.title }}</h2>
                <p>{{ page.settings.description }}</p>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% paginate_tag pages, per: 12 %}
                {% for item in pages  %}
                    {%  assign sub_items_count= item.children_in_list | size %}
                    {% if sub_items_count > 0 %}
                        <div>
                            <h3 class="text-2xl font-semibold border-b border-primary">{{ item.settings.title  }}</h3>
                            {% assign sub_items = item.children_in_list | limit: 12  %}
                            {% for item2 in sub_items %}
                                {% render 'content_faq', item: item2 %}
                            {% endfor %}
                            {% if sub_items_count > 12 %}
                                <div class="text-center mt-4">
                                    <a href="{{ item.url }}" class="btn btn-primary">Learn more</a>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        {% render 'content_faq', item: item %}
                    {% endif %}
                {% endfor %}
                <!-- Pagination -->
                <div class="w-full text-right block mt-12">
                    {% render 'paginate', paginate: paginate %}
                </div>
            {% endpaginate_tag %}
        </div>
    </div>
</section>

{% schema %}
    {
    "name": "栏目-FAQs列表",
    "description": "FAQ折叠展开样式",
    "thumb_url": "images/theme/faqs.webp",
    "sub_page_templates": ["post","faqs"],
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "标题"
        },
        {
            "id": "description",
            "type": "textarea",
            "label": "摘要"
        }
    ]
    }
{% endschema%}
