{% assign pages = page.children_in_list %}

{% # 面包屑导航 %}
<section class="py-2 bg-secondary/10">
    <div class="max-w-6xl mx-auto px-4">
        <div class="mb-4">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
        </div>
    </div>
    <div class="mx-auto max-w-2xl md:flex flex-col items-center justify-center py-4">
        <h2 class="font-semibold tracking-tight base-content md:text-3xl text-2xl flex items-center">
            {{ page.settings.title }}</h2>
        <p class="mt-2 ml-2 text-sm base-content/80">{{ page.settings.description }}</p>
    </div>
</section>

<!--Section: FAQs -->
<section class="px-4 py-6 sm:py-12" data-aos-id-3="">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
            {% paginate_tag pages, per: 12 %}
                {% for item in pages  %}
                    {%  assign sub_items_count= item.children_in_list | size %}
                    {% if sub_items_count > 0 %}
                        <div>
                            <h3 class="text-2xl font-semibold border-b border-primary">{{ item.settings.title  }}</h3>
                            {% assign sub_items = item.children_in_list | limit: 12  %}
                            {% for item2 in sub_items %}
                                {% render 'content_faq', item: item2 %}
                            {% endfor %}
                            {% if sub_items_count > 12 %}
                                <div class="text-center mt-4">
                                    <a href="{{ item.url }}" class="btn btn-primary">Learn more</a>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        {% render 'content_faq', item: item %}
                    {% endif %}
                {% endfor %}
                <!-- Pagination -->
                <div class="w-full text-right block mt-12">
                    {% render 'paginate', paginate: paginate %}
                </div>
            {% endpaginate_tag %}
        </div>
    </div>
</section>

{% schema %}
    {
    "name": "t:schema.templates.faqs.name",
    "description": "t:schema.templates.faqs.description",
    "thumb_url": "images/theme/${lang}/faqs.webp",
    "sub_page_templates": ["post","faqs"],
    "settings": [
        {
            "id": "title",
            "type": "text",
            "to_markdown": true,
            "label": "t:schema.templates.faqs.settings.title.label"
        },
        {
            "id": "description",
            "type": "textarea",
            "to_markdown": true,
            "label": "t:schema.templates.faqs.settings.description.label"
        }
    ]
    }
{% endschema%}
