{% assign pages = page.children_in_list | order_by: '-created_at' %}

<section class="py-2">
    <div class="max-w-6xl mx-auto px-4">
        <div class="mb-4">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
        </div>
    </div>
</section>

<!--Section: FAQs -->
<section class="mt-12 md:mt-20" data-aos-id-3="">
    <div class="relative max-w-6xl mx-auto">
        <div class="">
            <div class="text-center relative mb-2 md:mb-4">
            <h2 class="h2">{{ page.settings.title }}</h2>
            <p>{{ page.settings.description }}</p>
            </div>
        </div>

        <div class="space-y-4">
            {% paginate_tag pages, per: 12 %}
                {% render 'content_faqs', page: page, pages: pages %}
                <!-- Pagination -->
                <div class="w-full text-right block mt-12">
                    {% render 'paginate', paginate: paginate %}
                </div>
            {% endpaginate_tag %}
        </div>
    </div>
</section>

{% schema %}
    {
    "name": "栏目-FAQs列表",
    "description": "FAQ折叠展开样式",
    "thumb_url": "images/theme/faqs.webp",
    "sub_page_templates": ["post","faqs"],
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "标题"
        },
        {
            "id": "description",
            "type": "textarea",
            "label": "摘要"
        },
        {
            "id": "related_pages_json",
            "type": "textarea",
            "label": "关联的子页面path路径",
            "info": "格式：/path/slug, 每行 1 个"
        }
    ]
    }
{% endschema%}
