{% assign topics_menu = site.settings.topics_menu | newline_to_br | split: '<br />' %}

{% render 'hero', page: page %}

<!-- 产品列表 -->
<section class="bg-white py-6 sm:py-12">
    <div class="mx-auto max-w-6xl px-4">
        <div class="mx-auto max-w-2xl md:flex flex-col items-center justify-center">
            <h2 class="font-semibold tracking-tight text-gray-900 md:text-3xl text-2xl flex items-center">
                Product Support</h2>
        </div>
        {% render 'content_products', tag: tag %}
    </div>
</section>

<!-- Topic 列表 -->
<section class="bg-white py-6 sm:py-12">
    <div class="mx-auto max-w-6xl px-4">
        <div class="mx-auto max-w-2xl md:flex flex-col items-center justify-center">
            <h2 class="font-semibold tracking-tight text-gray-900 md:text-3xl text-2xl flex items-center">
                Service Support</h2>
        </div>

        <!-- Cards Container -->
        <section class="my-4">
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                {% for menu_line in topics_menu %}
                    {%  assign arr = menu_line | split: '[' %}
                    <a href="{{ arr[1] }}" class="relative group flex items-center space-x-3 rounded-lg border border-gray-300 bg-gray-100 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-primary focus-within:ring-offset-2 hover:bg-secondary/10 hover:no-underline hover:border-gray-400">
                        <div class="min-w-0 flex-1">
                            <span class="absolute inset-0" aria-hidden="true"></span>
                            <p class="text-sm font-medium text-gray-900">{{ arr[0] }}</p>
                            <p class="truncate text-sm text-gray-500">{{ arr[2] }}</p>
                        </div>
                        <div>
                            <button type="button" class="inline-flex items-center px-1.5 py-1.5 border border-transparent text-xs font-medium rounded-full shadow-sm text-white bg-primary hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                </svg>
                            </button>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </section>
    </div>
</section>

<!-- Support 列表 -->
{% render 'need_help', page: page %}

{% schema %}
    {
        "name": "index",
        "description": "首页模板",
        "thumb_url": "images/theme/index.png",
        "sub_page_templates": ["products","news","faqs","videos"],
        "settings": [
            {
                "id": "tags",
                "type": "tag_picker",
                "multiple": true,
                "label": "标签"
            },
            {
                "id": "description",
                "type": "text",
                "label": "描述"
            },
            {
                "id": "hero_image_url",
                "type": "image_picker",
                "ratio": "6:2",
                "width": 600,
                "label": "Hero 图片"
            }
        ]
    }
{% endschema %}