
<!-- 产品列表 -->
<section class="bg-white py-6 sm:py-12">
    <div class="mx-auto max-w-6xl px-4">
        <div class="mx-auto max-w-2xl md:flex flex-col items-center justify-center">
            <h2 class="font-semibold tracking-tight text-gray-900 md:text-3xl text-2xl flex items-center">
                Browse by Product</h2>
            <p class="mt-2 ml-2 text-sm text-gray-500">&nbsp;</p>
        </div>

        <!-- Cards Container -->
        {% render 'content_products', tag: tag %}
    </div>
</section>
